#App {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  overflow-y: hidden; 
  overflow-x: hidden; 
}

#page-box {
  position: relative;
  display: block;
  padding: 1.0rem;
  /* z-index: 2; */
  /* top: 20vh;
  bottom: 10vh; */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  right: 0;
  bottom: 0;


}